[Clipboard]
# 클립보드 기록 파일에 저장
# 가능한 값:
# True False
#SaveHistoryToFile=True
# Length of Clipboard History to Save
#HistoryLength=5
# 후보단어 각각의 최고 길이
#CandidateMaxLength=43
# Trigger Key for Clipboard History List
#TriggerKey=CTRL_;
# 선택 텍스트 사용
# 가능한 값:
# True False
#UsePrimary=True
# Choose key modifier
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Ignore blank selections
# 가능한 값:
# True False
#IgnoreBlank=True

