[IMSelector]
# Local Input Method SelectKey
#LocalInputMethodSelectKey=
# Global Input Method SelectKey
#GlobalInputMethodSelectKey=
# 로컬 입력기 지우기
#ClearLocal=

[GlobalSelector]
# 1번째 입력기 전환
#IM1=
# 2번째 입력기 전환
#IM2=
# 서트파트 입력기 전환
#IM3=
# 4번째 입력기 전환
#IM4=
# 5번째 입력기 전환
#IM5=
# 6번째 입력기 전환
#IM6=
# 7번째 입력기 전환
#IM7=
# 8번째 입력기 전환
#IM8=
# 9번째 입력기 전환
#IM9=

[LocalSelector]
# 1번째 입력기 전환
#IM1=
# 2번째 입력기 전환
#IM2=
# 서트파트 입력기 전환
#IM3=
# 4번째 입력기 전환
#IM4=
# 5번째 입력기 전환
#IM5=
# 6번째 입력기 전환
#IM6=
# 7번째 입력기 전환
#IM7=
# 8번째 입력기 전환
#IM8=
# 9번째 입력기 전환
#IM9=

