[ClassicUI]
# Status Panel Position X
#MainWindowOffsetX=500
# Status Panel Position Y
#MainWindowOffsetY=40
# 폰트 크기
#FontSize=0
# 폰트
#Font=Sans
# 메뉴 폰트
#MenuFont=Sans
# 보이기위한 폰트 로케일
#FontLocale=zh_CN.UTF-8
# 시스템 트레이 아이콘 사용
# 가능한 값:
# True False
#UseTray=True
# Status Panel Hide Mode
# 가능한 값:
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# 후보단어 리스트 위아래
# 가능한 값:
# True False
#VerticalList=False
# 스킨 이름
#SkinType=default

