[Keyboard]
# Commit with extra space when choose candidate word
# 가능한 값:
# True False
#CommitWithExtraSpace=False
# Choose key modifier
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 단어 힌트 전환
#HotkeyToggleWordHint=CTRL_ALT_H
# Minimum length to trigger word hint
#MinimumHintLength=1
# 철자 힌트 리스트의 최고 길이
#MaximumHintLength=5
# Use enter to commit the existing string
# 가능한 값:
# True False
#UseEnterToCommit=False
# Add current input buffer to user dictionary
#HotkeyAddToUserDict=CTRL_ALT_N

