[QuickPhrase]
# ー
# 가능한 값:
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# QuickPhrase를 위한 다른 트리거 키
#AlternativeTriggerKey=
# Choose key modifier
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 철자 힌트 보이지 않기
# 가능한 값:
# True False
#DisableSpell=False
# 최고 힌트 길이
#MaximumHintLength=2

