[Auto English]
# Choose key modifier
# 가능한 값:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 철자 힌트 보이지 않기
# 가능한 값:
# True False
#DisableSpell=False
# 최고 힌트 길이
#MaximumHintLength=2
# Maximum words number kept in preedit
#MaximumKeep=3
# Add Extra space when selecting a candidate word
# 가능한 값:
# True False
#SelectAddSpace=True

