[X Keyboard]
# Allow to Override System XKB Settings
# 가능한 값:
# True False
#OverrideSystemXKBSettings=True
# 기본 레이아웃으로 리스트안에 첫번째 키보드 입력기를 사용
# 가능한 값:
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# xmodmap 명령
#XModmapCommand=xmodmap
# Apply this custom xmodmap script after layout change
#CustomXModmapScript=

